<div sukaContainer="fluid">
  <suka-page
    [narrow]="false"
    [fluid]="true"
    title="Versión 1"
  >
    <suka-card sectioned="false">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur ligula accumsan, tristique nisl eu, ultrices ipsum. Maecenas consequat dolor ante, quis interdum diam mollis et. Aenean dictum rutrum libero tempor sollicitudin. Aenean mauris ligula, bibendum et dictum pulvinar, lobortis sed ligula. Donec finibus ante tempor velit ultrices rutrum. Suspendisse sit amet felis iaculis, tristique nunc vitae, rhoncus leo. Nam quis quam nec purus varius ultrices rutrum a turpis. Aenean aliquam, felis eu gravida cursus, neque sem commodo ex, ac varius justo orci sit amet lorem. Vestibulum est nunc, aliquam eget lorem pellentesque, faucibus congue neque. Sed rhoncus sem vel finibus egestas. Etiam vitae purus tortor. Suspendisse scelerisque hendrerit quam, non molestie augue iaculis ac.
    </suka-card>
    <suka-card hidden="true" title="Card title" [mb]="{all: 'layout-1'}">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur ligula accumsan, tristique nisl eu, ultrices ipsum. Maecenas consequat dolor ante, quis interdum diam mollis et. Aenean dictum rutrum libero tempor sollicitudin. Aenean mauris ligula, bibendum et dictum pulvinar, lobortis sed ligula. Donec finibus ante tempor velit ultrices rutrum. Suspendisse sit amet felis iaculis, tristique nunc vitae, rhoncus leo. Nam quis quam nec purus varius ultrices rutrum a turpis. Aenean aliquam, felis eu gravida cursus, neque sem commodo ex, ac varius justo orci sit amet lorem. Vestibulum est nunc, aliquam eget lorem pellentesque, faucibus congue neque. Sed rhoncus sem vel finibus egestas. Etiam vitae purus tortor. Suspendisse scelerisque hendrerit quam, non molestie augue iaculis ac.
    </suka-card>

    <suka-button-group>
      <button sukaButton  size="lg" [hover]="true" (click)="sendEvent('optimize','click','Click boton blanco')" >Click</button>
      <button hidden="true" sukaButton="primary" size="lg" [hover]="true" (click)="sendEvent('optimize','click','Click boton azul')" ><suka-icon icon="check"></suka-icon>Click</button>
    </suka-button-group>

  </suka-page>

</div>
